<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<h2>Login</h2>
<script>
    const socket = io();

    socket.emit('register');

    function changePassword() {
      socket.emit('passwordChanged');
    }

    socket.on('notification', (data) => {
      if (data.type === 'passwordChanged') {
        alert(data.message);
      } else if (data.type === 'welcome') {
        alert(data.message);
      }
    });
</script>
<form action="/login" method="post">
    <% if(messages.error){ %>
        <span style="color:red">
            <% messages.error %>
        </span>
    <% } %>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form>